




  <div id="banner">
    <div class="banner_content">
      <h1 style="color: #1F7972;">2-Do</h1>
      <p>A better way to keep track of the things you need 2-Do.</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
    </div>
  </div>






<div id="callouts">
    <div class="callout_inner">
      <h2>The Convoy Time Management Matrix</h2>
      <br>
      <div class="wrapper">
        <p style="padding-left: 15%; padding-right: 15%;">Being able to prioritize what it is you need to do is crucial in order to stay truly productive.This is where Convoy's Time Management Matrix comes in. Using 2-Do will allow you to stay productive by prioritizing your todo lists based on importance and urgency. The matrix is broken down into 4 quadrants. 1. Important - Due Soon, 2. Not Important - Due Soon, 3. Important -Due Later, 4. Not Important - Due Later. The secret to using this matrix to increase your productivity is to always do the Important - Due Soon & Important - Due Later quandrants first and sometimes you might need to say, "This thing that is due soon but is not important, I just wont do it. Its not important, it says so on the chart!" - Randy Pausch. And by doing this you will mysteriously have time to work on the things that are important but not due soon so that next week, those things you had to do never had a chance of being in the first quadrant because you killed it in the crib.</p>
      </div>
    </div>
  </div>




<div id="messhall">
    <div class="callout_inner">
      
      
      
      <div class="callout">
          <i class="fa fa-check fa-3x"></i>
          <p>Easily create and manage your todo lists from any device, any where. Thanks to our responive design you can always have your 2-Do List with you on your phone, tablet and desktop.</p> 
        </div>

        <div class="callout">
           <i class="fa fa-sort fa-3x"></i>
           <p >Easily sort all of your 2-Do lists based on importance and urgency so you always know what really needs to get done in which order!</p>
        </div>

        <div class="callout">
          <i class="fa fa-exchange fa-3x"></i>
         <p>Thanks to our user-freindly design, it is extremely easy for users to move their to-do lists from quadrant to quadrant allowing you to easily stay on top of things as they become less or more important or urgent.</p> 
        </div>
      
    </div>
  </div>


  <div id="bottom_cta">
    <div class="wrapper">
      <h3>Don't Fall Victim to the Time Famine!</h3>
      <h2>Sign Up Today!</h2>
      <br>
      <p style="padding-left: 15%; padding-right: 15%;">Stop feeling like there is never enough time to do all the things you find important. Start keeping a better 2-Do list organizaed by importance and urgency so you can forever escape the Time Famine!</p>
      <%= link_to "Start Today!", new_user_registration_path, class: "btn btn-default" %>
    </div>
  </div>
  <br>
  <footer style="text-align:center; color:white;">&copy; 2-Do | Dedicated to Randy Pausch</footer>
<br>